.center{
    text-align: center;
  }
  .page{
    border: 1px solid lightgrey; 
    margin: auto;
    box-shadow: 1px 1px 3px 1px lightgrey;
  }
  .main{
    width: 500px;
  }
  .second{
    width: 496px;
    height: 5px;
  }
  .third{
    width: 492px;
    height: 5px;
  }
  .delete{
    float: right;
    display: none;
  }
  li:hover .delete{
    display: inline-block;
  }
  .inputTask{
    border: none;
    width: 498px;
    height: 50px;
    padding-left: 20px;
  }
  .containerCounter{
    padding-top: 10px;
  }
  .counter{
    margin-left: 10px;
    color: grey;
  }